<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>остров Тасмания</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div>
        <p>страна: {{ name }}</p>

        <ul>
            {% for elem in d %}
            <li><a href="#">{{ elem }}</a></li>
            {% endfor %}
        </ul>

        <h1>ТАСМАНИЯ</h1>
        <p>Остров и одноименный австралийский штат Тасмания отделен от материка Бассовым проливом шириной в 150 миль (240 км), располагаясь к югу от восточной оконечности Австралии. К штату Тасмания так же относятся близлежащие острова: о. Бруни, недалеко от юго-восточного побережья главного острова, о-ва Кинг и Флиндерс в Бассовом проливе, ряд небольших островков у берегов главного острова; и субантарктический остров Маккуори, в 1450 километрах (900 миль) на юго-восток.</p>
        <p>Сегодня Тасмания популярна благодаря своей исключительной природной красоте с захватывающими видами гор, озер и прибрежных пейзажей. Почти 37 % штата занимают заповедники и национальные парки, часть которых внесены в реестр всемирного наследия ЮНЕСКО.</p>
        <p>Тасмания является структурным продолжением Большого Водораздельного хребта на юге и представляет собой остров с умеренным климатом, якобы схожим в некоторых отношениях с доиндустриальной Англией настолько, что некоторыми английскими колонистами он именовался как «южная Англия».</p>
        <p>Остров вулканически неактивен уже длительное время и имеет устойчивые горные хребты на большей части своей территории. Наиболее гористые регионы — Центральное нагорье и юго-западные районы, занимающие большую часть центральной, западной и юго-западной частей штата. Регион Мидлендс в центральной восточной части Тасмании гораздо более плоский по сравнению с остальными и в основном используется для сельского хозяйства.</p>
    </div>
</body>
</html>