<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>остров Тасмания</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
</head>
<body>
    {% extends "menu.html" %}

    {% block content %}
    <div id="content">
        <p>страна: {{ name }}</p>

        <script>
        /*    time();   */
        </script>

        <h1>ТАШТАГОЛ & окресности</h1>
        <p>Россия -> Кемеровская область -> Таштагольский район -> Таштагол.</p>
        <p>Таштагол - это административный центр Таштагольского района. Также, этот небольшой городок, является центром Горной Шории. Чиленность насления составляет около 23 тыс. человек. Население, в последние годы не растет, а медленно уменьшается. Климат умеренно-континентальный с тёплым летом и холодной зимой. Таштагол основан в 1939 году, а статус города приобрел в 1963. Основная национальность - русские. Также есть шорцы - это коренной малочисленный народ и они здесь всречаются довольно часто. Таштагол состоит из двух микрорайонов, окруженных частным сектором. В простонародии микрорайны называют "Старый Таштагол", в нем расположена администрация города, и "Новый Таштагол", его еще называют "Поспелова", по названию одноименной улицы.</p>
        <p>Развит туризм связанный с горнолыжным спортом. В соседнем поселке Шерегеш это г. Зеленая, часть г. Мустаг (высота 1570 м.). А также есть более низкая и пологая г. Туманная, расположеная в нескольких км. к востоку от Таштагола. Гора Туманная также хороша для любителей экстримального спорта, но не так известна, как гора Зеленая в Шерегеше. Расстояние от г. Таштагол до п. Шерегеш, по трассе, составляет около 20 км. В Таштаголе есть градообразующее предприятие, шахта, добывающая железную руду. Таштагольский рудник был основан в 1911 году. С 2004 года входит в состав ОАО «Евразруда». Из этой информации можно сделать вывод, что местные жители заняты в двух направлниях: в сфере туризма и в шахте.</p>
    </div>
    {% endblock %}
</body>
</html>