<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
    <title>населенные пункты</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
{% extends "menu.html" %}
{% block content %}

<div id="content">
	<b>Хобарт</b> - крупный город. Является административным центром острова Тасмания.

	<br><br>
	Мелкие населенные пункты о. Тасмания:
	<br><b>Сорелл</b>
	<br><b>Катамаран</b>
	<br><b>Стратгордон</b>
	<br><b>Тарралея</b>
	<br><b>Куинстаун</b>
	<br><b>Финдон</b>
	<br><b>Лонсестон</b>
	<br><b>Делорейн</b>
	<br><b>Сент-Хеленс</b>
	<br><b>Кейп-Портленд</b>
	<br><b>Скотсдейл</b>
	<br><b>Джордж-Таун</b>
	<br><b>Латроб</b>
	<br><b>Девенпорт</b>
	<br><b>Берни</b>
	<br><b>Каута-Рокс</b>

	<br><br>
	Также в штате Тасмания, но на других островах расположены:
	<br>Острова Фюрно: <b>Эмита</b>
	<br>о.Кинг: <b>Лурана</b>

</div>
{% endblock %}
</body>

</html>