#content
{
    background: powderblue;
}

body
{
    background-image: url(fractal.jpg);
}

a
{
    color: yellow;
}

b
{
    font-size: 12pt;
    font-family: mv boli;
}

.items
{
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    border: 3px solid blueviolet;
}
.item
{
    width: 300px;
    border: 3px solid deepskyblue;
}


.title
{
  margin: 20px 0;
  padding: 20px;
  cursor: pointer;
  color: deeppink;
}
.textPost
{
  display: none;
}
.show
{
  display: block;
}