body
{
    background-image: url(fon.jpg);
}
h1
{
    text-align: center;
    color: CadetBlue;
    font-weight: bold;
    margin-top: 90px;
}
p
{
    font-family: Monotype Corsiva;
    font-weight: bold;
    font-size: 22px;
	color: navy;
}
b
{
   color: navy;
   font-family: comic sans ms;
}
a
{
    color: greenyellow;
    font-weight: bold;
    text-decoration: none;  /* удаление подчеркивания текста ссылок */
    background: grey;       /* добавление фона к пункту меню */
    border-radius: 40px;    /* добавление скругления */
    padding: 8px;           /* добавление отступа */
}
div
{
    background: lavender;
    margin: 0 auto;
    width: 90%;
}

ul
{
  list-style: none;         /* удаление маркеров списка */
}
li
{
  float: left;              /* размещение списка горизонтально для реализации меню */
  margin-right: 30px;       /* добавление отступа у пунктов меню */
}
a:hover
{
  background: green;        /* добавление эффекта, другой цвет, при наведении */
}


.items
{
  display: flex;
  text-align: left;
  width: 96%;
  height: 2800px;
  margin: auto;
}
.item
{
  width: 17%;
  border: 1px solid black;
  padding-top: 2%;
}
th
{
    color: brown;
}
