{% extends "main/base.html" %}

	{% block title %}<title>Через тернии к коду</title>{% endblock %}

    {% block content %}
	<div id="content">
	<pre><b>
	Nginx - это веб-сервер. Он является следующим:
	-HTTP-сервер
	-обратный прокси-сервер
	-почтовый прокси-сервер
	-TCP/UDP прокси-сервер общего назначения

	Nginx обрабатывает запросы клиента:
	-Отдает код ответа.
	-Выполняет <i>редирект</i>. Т.е. перенаправляет пришедший запрос в другое место. (чаще всего 301 редирект. А также 302 редирект)
	-Отдает статический контент.
	-Проксирование запросов.
	</b></pre>
	</div>
    {% endblock %}

