{% extends "main/base.html" %}

	{% block title %}<title>Через тернии к коду</title>{% endblock %}

    {% block content %}
	<div id="content">

	<script>
       time();
    </script>


	<div class="title"><b>Кликните, чтоб узнать про Nginx</b></div>
    <div class="textPost">
	<pre><b>
	Nginx - это веб-сервер. Он является следующим:
	-HTTP-сервер
	-обратный прокси-сервер
	-почтовый прокси-сервер
	-TCP/UDP прокси-сервер общего назначения

	Nginx обрабатывает запросы клиента:
	-Отдает код ответа.
	-Выполняет <i>редирект</i>. Т.е. перенаправляет пришедший запрос в другое место. (чаще всего 301 редирект. А также 302 редирект)
	-Отдает статический контент.
	-Проксирование запросов.
	</b></pre>
	</div>

	<div class="title"><b>Кликните, чтоб узнать про Gunicorn</b></div>
    <div class="textPost">
	<pre><b>
	Gunicorn – это application-сервер. Также его иногда называют WSGI-сервер. Используется в Unix-системах.
	WSGI является протоколом, был разработан как интерфейс связывающий web-сервер с web-приложением на python.
	WSGI-сервер позволяет обрабатывать множество запросов одновременно. Ускоряет разработку веб-приложений написанных
	на языке Python. А фреймворки не пердназначены для обработки тысяч запросов и не дают решения того,
	как наилучшим образом маршрутизировать их (запросы) с веб-сервера.

	Gunicorn:
	-Запускает любое приложение (и фреймворк) WSGI Python.
	-Поставляется с различными конфигурациями и типами процессов.
	-Автоматически управляет процессами.
	-Поддерживает HTTP/1.0 и HTTP/1.1 с помощью синхронных и асинхронных процессов.
	-Поддерживает SSL.
	-Расширяется с помощью специальных точек входа.
	-Поддерживает Python 2.6+ и 3.x.
	</b></pre>
	</div>

	<script>
	const titles = document.querySelectorAll(".title")
	const textPosts = document.querySelectorAll(".textPost")

	for (let i=0; i<titles.length; i++)
	{
  	titles[i].addEventListener('click', () =>
      {
        textPosts[i].classList.toggle('show')
      })
	}
	</script>

	</div>
    {% endblock %}

