{% extends "main/base.html" %}

	{% block title %}<title>Через тернии к коду</title>{% endblock %}

    {% block content %}
	<div id="content">

	<script>
        time();
    </script>

	<pre><b>
	Nginx - это веб-сервер. Он является следующим:
	-HTTP-сервер
	-обратный прокси-сервер
	-почтовый прокси-сервер
	-TCP/UDP прокси-сервер общего назначения

	Nginx обрабатывает запросы клиента:
	-Отдает код ответа.
	-Выполняет <i>редирект</i>. Т.е. перенаправляет пришедший запрос в другое место. (чаще всего 301 редирект. А также 302 редирект)
	-Отдает статический контент.
	-Проксирование запросов.
	</b></pre>

	<h3 id="posts" style="color: deeppink">Кликните, чтоб узнать про Gunicorn</h3>
	<pre style="display: none"><b>
	Gunicorn – это application-сервер. Также его иногда называют WSGI-сервер. Используется в Unix-системах.
	WSGI является протоколом, был разработан как интерфейс связывающий web-сервер с web-приложением на python.
	WSGI-сервер позволяет обрабатывать множество запросов одновременно. Ускоряет разработку веб-приложений написанных
	на языке Python. А фреймворки не пердназначены для обработки тысяч запросов и не дают решения того,
	как наилучшим образом маршрутизировать их (запросы) с веб-сервера.

	Gunicorn:
	-Запускает любое приложение (и фреймворк) WSGI Python.
	-Поставляется с различными конфигурациями и типами процессов.
	-Автоматически управляет процессами.
	-Поддерживает HTTP/1.0 и HTTP/1.1 с помощью синхронных и асинхронных процессов.
	-Поддерживает SSL.
	-Расширяется с помощью специальных точек входа.
	-Поддерживает Python 2.6+ и 3.x.
	</b></pre>

	<script>
    let h3 = document.getElementById('posts');
	h3.onclick = function()
	{
    	this.nextElementSibling.style.display = this.nextElementSibling.style.display == 'none' ? 'block' : 'none';
	}
    </script>

	</div>
    {% endblock %}

